<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm" id="header">
  <div class="container-fluid d-flex justify-content-around align-items-center">
    <div class="d-flex">
      <a class="text-black fs-4 d-flex align-items-center" *ngIf="casa==true" routerLink="" title="Torna alla home">
        <i class="bi bi-house-door-fill me-2 fs-2" id="home"></i>
      </a>
      <a class="text-black fs-4 d-flex align-items-center" *ngIf="casa==false" (click)="Indietro()" title="Torna indietro">
        <i class="bi bi-arrow-left-circle-fill me-2 fs-2" id="back"></i>
      </a>
    </div>
    <span class="text-center fs-5 flex-grow-1" id="messaggio">{{messaggio}}</span>
    <button class="btn btn-danger btn-sm px-3 fw-bold" (click)="Logout()">Logout</button>
  </div>
</nav>