<div>
    <div class="d-flex align-items-center justify-content-between">
        <h2>New order</h2>
        <i routerLink="add" class="bi bi-plus-circle-fill text-danger"></i>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ordine of ordini" id="order-{{ordine.orderId}}">
                    <td>{{ordine.product}}</td>
                    <td>{{ordine.qty}}</td>
                    <ng-component *ngIf="ordine.completionDate!=null">
                        <td ><span class="text-green">Prepared</span></td>
                        <td>-</td>
                    </ng-component>
                    <ng-component *ngIf="ordine.completionDate==null">
                        <td ><span class="text-red">To be prepared</span></td>
                        <i (click)="deleteOrder(ordine.orderId)" class="bi bi-trash3-fill text-danger"></i>
                    </ng-component>
                </tr>
            </tbody>
        </table>
    </div>
</div>


