<div class="container-fluid p-3 centered-flex">
    <div class="info-box bg-primary centered-flex">
        ciao
    </div>
    <div class="info-box bg-secondary centered-flex">
        ciao
    </div>
</div>

<div class="container-fluid p-3 d-flex flex-wrap">
    <div *ngFor="let table of tables" [routerLink]="['/tables', table.id]" [ngClass]="!table.occupied ? 'bg-primary' : 'bg-secondary'" class="box centered-flex flex-column">
        <div class="fs-1">{{table.id}}</div>
        <div class="bg-dark bg-opacity-25 text-white rounded-pill text-center" [ngClass]=" table.occupied ? 'w-50' : 'w-75' ">
            <i class="bi" [ngClass]=" table.occupied ? 'bi-person-fill' : 'bi-check-lg' "></i>
            {{ table.occupied ? table.occupants : 'Available' }}
        </div>
    </div>
</div>