.box {
    width: 49%;
    aspect-ratio: 1 / 0.8;
    margin: 0.5%;
    border-radius: 0.25rem;
}

.info-box {
    width: 49%;
    aspect-ratio: 1 / 0.6;
    margin: 0.5%;
    border-radius: 0.25rem;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}